@import 'custom_bootstrap.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

// helper classes

.font-weight-medium {
  font-weight: 500;
}

// main styles
html {
  height: 100%;
  font-size: 0.9rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

body {
  min-height: 100%;
}

#app {
  min-height: 100vh;
}

header {
  background-color: $white;
  padding: 0.5rem 0;
  border-top: 4px solid $gray-800;
  border-bottom: 1px solid $gray-500;
  color: $gray-800;
}

.main {
  height: 100vh;
  padding: 1.7rem 0 5rem;
}

.registration-form {
  padding: 1.5rem 2rem 2rem;
  border-radius: $border-radius-sm;
  background-color: rgba(255, 255, 255, 0.9);
}


// transition component animation

.router-animation-enter-active {
  animation: coming .25s;
  animation-delay: .25s;
  opacity: 0;
}
.router-animation-leave-active {
  animation: going .25s;
}

@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
